<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>PDF TO EXCEL</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <link rel="stylesheet" href=""> -->
        <!-- {% comment %} <link rel="stylesheet" href="/static/styles.css"> {% endcomment %} -->
        <style type="">
            input[type='file'] {
                color: transparent;
            }
            
        </style>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"> 
        <link rel="stylesheet" href="../static/styles.css">
        <!-- {% comment %} <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous"> {% endcomment %} -->
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="File">
            <div class="head">
            <h1>PDF TO EXCEL CONVERTER</h1>
            </div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input id="file" type="file" name="document">
            <div class="bttn">     
            <button type="submit" name="FE" class="btn btn-primary btn-lg">FE</button>
            <button type="submit" name="SE" class="btn btn-primary btn-lg">SE</button>
            <button type="submit" name="TE" class="btn btn-primary btn-lg">TE</button>
            <button type="submit" name="BE" class="btn btn-primary btn-lg">BE</button>
            </div>
        </form> 
        
        {% comment %} <a href="{%url 'waprfile'%}" download class="excel"><button type="button">Download File</button></a>   {% endcomment %}
        </div>
        <div class="lin">
            
            <h1>Data is a precious thing and will last longer than the systems themselves.</h1>
            <h1>-Tim Berners-Lee</h1>
            <h3>Inventor of the World Wide Web</h3>
        </div>    
        <footer class="white-section" id="footer">
          <i class="icon-1 fa-brands fa-twitter"></i>
          <i class="icon-1 fa-brands fa-facebook-f"></i>
          <i class="icon-1 fa-brands fa-instagram"></i>
          <i class="icon-1 fa-solid fa-envelope"></i>
          <p class="copyr">© Copyright 2023 PDF_TO_EXCEL</p>
          
        </footer>
              
         
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>  
        <script src="" async defer></script>
    </body>
</html>