@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap"); 
:root {
    --bgcol: #010409;
    --btncol: #0d6efd;
  }
  /* Body */
  body {
    margin: 0px;
    padding: 0px;
    background-color: var(--bgcol);
    font-family: "Kanit", sans-serif;
  }
  /* Main */
  /* Footer section */
#footer {
  text-align: center;
  padding: 7% 15%;
}
footer p {
  color: goldenrod;
  font-size: large;
}
.icon-1 {
  padding-left: 4%;
  padding-bottom: 5%;
  padding-right: 4%;
  color: hsl(0, 100%, 50%);
  transition: all 0.2s;
}
.icon-1:hover {
  padding-left: 4%;
  padding-bottom: 5%;
  padding-right: 4%;
  color: hsl(0, 100%, 30%);
}
