:root{
    --bgcol : rgb(0, 19, 26);
    --btncol : #0d6efd;
}
body{
    margin: 0px;
    padding: 0px;
    background-color:var(--bgcol);
}

.File{
    text-align: center;
    background-color: var(--bgcol);
    padding: 30px 50px;
}
input[type='file']{
    margin-left: 120px;
}
.head{
    padding: 30px;
}
input::-webkit-file-upload-button{
    color: white;
    background-color: var(--btncol);
    border-radius: 7px;
    border-color: var(--btncol);
    padding: 0.2em 1.8em 0.2em 1.8em;
    font-size:40px;
    
}
.bttn{
    padding: 30px;
}
.bttn button{
    margin: 0px 20px;
}
.input{
    color: blue;
}
#footer{
    
    text-align: center;
    padding: 7% 15% ;
}
.lin{
    background-color: gray;
    color: white;
    text-align: center;
    padding-top: 80px;
    padding-left: 400px;
    padding-right: 400px;
    padding-bottom: 80px;
}
.icon-1{
    padding-left: 4%;
    padding-bottom: 5%;
    padding-right: 4%;
}